@inherits DialogTemplate

@if (this.ShowModal)
{
    <DialogTemplate Title=@this.Title OnValidate="@this.OnValidate" OnCancel="@this.OnCancel">
        <ChildContent>
            @this.ChildContent
        </ChildContent>
        <FooterContent>
            <button type="button" class="btn btn-primary" @onclick="@this.OnCancel">@this.CancelButtonText</button>
            <button type="button" class="btn btn-secondary" disabled="@this.IsValidatedButtonDisabled" @onclick="@this.OnValidate">@this.ValidateButtonText</button>
        </FooterContent>
    </DialogTemplate>
}
