@page "/admin/reglages/entrainements"
@inherits ComponentBase
@using NecManager.Common.DataEnum;
@using NecManager.Web.Components
@using NecManager.Common.Extensions
@using Microsoft.AspNetCore.Components.QuickGrid
@using NecManager.Web.Components.Modal

<TopBar Title="Admin - Entrainements" BackUrl="/admin/reglages" />
<Dialog Title="Création d'un entrainement"
        ValidateButtonText="@this.ValidationButtonLabel"
        CancelButtonText="Annuler"
        OnValidate="this.OnValidCreateOrUpdateFormAsync"
        @ref="this.trainingCreationFormDialog">
    <ChildContent>
        <div class="form-group-column">
            <label for="masterName">Maître</label>
            <input type="text" id="masterName" @bind="this.UnderCreationTraining.MasterName" />
        </div>
        <div class="form-group-column">
            <label for="date">Date</label>
            <input id="date" type="date" @bind="this.UnderCreationTraining.Date" />
        </div>
        <div class="row form-group">
            <div class="form-group-column">
                <label for="startTime">Début</label>
                <input id="startTime" type="time" @bind="this.UnderCreationTraining.StartTime" />
            </div>
            <div class="form-group-column">
                <label for="endTime">Fin</label>
                <input id="endTime" type="time" @bind="this.UnderCreationTraining.EndTime" />
            </div>
        </div>
        <div class="form-group">
            <label for="isIndiv">Leçon individuelle ?</label>
            <input type="checkbox" id="isIndiv" @bind="this.UnderCreationTraining.IsIndividual" />
        </div>
        @if (!this.UnderCreationTraining.IsIndividual)
        {
            <InputSelect id="group"
                     @bind-Value="@this.UnderCreationTraining.GroupId"
                     @bind-Value:after="@(() => this.GroupSelectChangedEventHandler(this.UnderCreationTraining.GroupId))">
                <option value="" selected>- groupe -</option>
                @foreach (var group in this.Groups)
                {
                    <option value="@group.Id">@group.Title</option>
                }
            </InputSelect>
        }
        else
        {
            <span>Selectionner un étudiant</span>
        }
        <div>
            <p>Sélectionner une leçon</p>
            <i>Difficulté et arme permettent de filter les leçons</i>
            <div class="row form-group">
                <div class="form-group-column">
                    <label for="difficulty">Difficulté</label>
                    <InputSelect id="difficulty"
                                 @bind-Value="@this.LessonFilter.DifficultyType"
                                 @bind-Value:after="@(() => this.DifficultySelectChangedEventHandler(this.LessonFilter.DifficultyType))">
                        <option value="@DifficultyType.None" selected>- difficulté -</option>
                        @foreach (var difficulty in Enum.GetValues<DifficultyType>())
                        {
                            if (difficulty != DifficultyType.None)
                            {
                                <option value="@difficulty">@difficulty</option>
                            }
                        }
                    </InputSelect>
                </div>
                <div class="form-group-column">
                    <label for="weapon">Weapon</label>
                    <InputSelect id="weapon"
                                 @bind-Value="@this.LessonFilter.WeaponType"
                                 @bind-Value:after="@(() => this.WeaponSelectChangedEventHandler(this.LessonFilter.WeaponType))">
                        <option value="@WeaponType.None" selected>- arme -</option>
                        @foreach (var weapon in Enum.GetValues<WeaponType>())
                        {
                            if (weapon != WeaponType.None)
                            {
                                <option value="@weapon">@weapon</option>
                            }
                        }
                    </InputSelect>
                </div>
            </div>
            <div class="form-group-column">
                <label for="lesson">Leçon</label>
                <InputSelect id="lesson"
                             @bind-Value="@this.UnderCreationTraining.LessonId"
                             @bind-Value:after="@(() => this.LessonSelectChangedEventHandler(this.UnderCreationTraining.LessonId))">
                    <option value="" selected>- lesson -</option>
                    @foreach (var lesson in this.Lessons)
                    {
                        <option value="@lesson.Id">@lesson.Title</option>
                    }
                </InputSelect>
            </div>
        </div>
    </ChildContent>
</Dialog>
<div class="admin-container">
    <div class="admin-container-actions">
        <button @onclick="@this.OnCreateTrainingClickEventHandler">Nouveau</button>
        <NavLink href="admin/reglages/entrainements/nouvelle-saison">Initialiser saison</NavLink>
    </div>

    <div class="admin-container-filter">
        <EditForm Model="@this.trainingInputQuery">
            <InputSelect @bind-Value="this.trainingInputQuery.WeaponType"
                         @bind-Value:after="@(() => this.OnWeaponFilterChangeEventHandlerAsync(this.trainingInputQuery.WeaponType))">
                <option value="@WeaponType.None">- arme -</option>
                @foreach (var weaponType in Enum.GetValues<WeaponType>())
                {
                    if (weaponType == WeaponType.None)
                        continue;

                    <option value="@weaponType">@Enum.GetName(weaponType)</option>
                }
            </InputSelect>
            <InputSelect @bind-Value="this.trainingInputQuery.DifficultyType"
                         @bind-Value:after="@(() => this.OnDifficultyFilterChangeEventHandlerAsync(this.trainingInputQuery.DifficultyType))">
                <option value="@DifficultyType.None">- difficulté -</option>
                @foreach (var difficulty in Enum.GetValues<DifficultyType>())
                {
                    if (difficulty == DifficultyType.None)
                        continue;

                    <option value="@difficulty">@Enum.GetName(difficulty)</option>
                }
            </InputSelect>
            <InputText @bind-Value="this.trainingInputQuery.Filter"
                       @bind-Value:after="@(() => this.OnFilterChangeEventHandlerAsync(this.trainingInputQuery.Filter))" />
            <label for="onlyIndividual">Uniquement les leçons indivs :</label>
            <InputCheckbox id="onlyIndividual"
                           @bind-Value="this.trainingInputQuery.OnlyIndividual"
                           @bind-Value:after="@(() => this.OnOnlyIndiviualFilterChangeEventHandlerAsync(this.trainingInputQuery.OnlyIndividual))" />
        </EditForm>
    </div>

    <QuickGrid ItemsProvider="@this.trainingProviders" Pagination="@pagination" @ref=trainingsGrid>
        <PropertyColumn Property="@(t => t.Date.ToShortDateString())" Title="Date" Sortable="true" />
        <PropertyColumn Property="@(t => t.StartTime.ToTimeString())" Title="Début" Sortable="true" />
        <PropertyColumn Property="@(t => t.EndTime.ToTimeString())" Title="Fin" Sortable="true" />
        <PropertyColumn Property="@(t => t.IsIndividual ? "oui" : string.Empty)" Title="Individuel" Sortable="true" />
        <PropertyColumn Property="@(t => t.LessonName)" Title="Cours" Sortable="true" />
        <PropertyColumn Property="@(t => t.MasterName)" Title="Maître" Sortable="true" />
        <PropertyColumn Property="@(t => t.GroupName)" Title="Groupe/Elève" Sortable="true" />
        <TemplateColumn Title="Actions">
            <button @onclick="@(() => this.OnUpdateTrainingClickEventHandler(context))"><i class="oi oi-pencil"></i></button>
            <button><i class="oi oi-trash"></i></button>
        </TemplateColumn>
    </QuickGrid>
    <Paginator Value="@pagination" />

</div>

